1) How-to-count-distance-to-the-previous-zero

In [83]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

x = (df.X != 0).cumsum()
y = x != x.shift()
Y = y.groupby((y != y.shift()).cumsum()).cumsum()
Y = Y.astype(int)

dict = {'X':df.X, 'Y':Y}
df = pd.DataFrame(dict)

print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [84]:
import pandas as pd
rng = pd.date_range('1/1/2015', periods=365, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts = pd.DataFrame(ts)
ts.columns=['Random_Number']
ts.head()

            Random_Number
2015-01-01      -0.660003
2015-01-02      -0.143212
2015-01-03       0.445176
2015-01-04      -0.749615
2015-01-05      -0.183287

3) Find the sum of the values in s for every Wednesday

In [117]:
ts['WeekDayName'] = ts.index.weekday_name
ts.head()
s = ts.where(lambda x:x.WeekDayName =='Wednesday').groupby(['WeekDayName']).agg({'Random_Number':'sum'})
print(s)

             Random_Number
WeekDayName
Wednesday        -2.385025

4) Average For each calendar month

In [124]:
ts['Month'] = ts.index.month
ts
ts.groupby(['Month']).agg({'Random_Number':'mean'})

       Random_Number
Month
1           0.045806
2           0.189513
3          -0.259943
4           0.147180
5          -0.216006
6           0.061037
7          -0.009411
8           0.361614
9           0.288244
10         -0.212991
11          0.102340
12         -0.189466

5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [136]:
ts['Quarter'] = ts.index.quarter
ts
idx=ts.groupby(['Quarter'])['Random_Number'].transform(max) == ts['Random_Number']
ts[idx]

            Random_Number WeekDayName  Month  Quarter
2015-01-15       2.263499    Thursday      1        1
2015-04-15       2.031543   Wednesday      4        2
2015-09-02       2.704150   Wednesday      9        3
2015-11-24       1.755947     Tuesday     11        4